* {
    box-sizing: border-box;
}

.page {
    box-sizing: content-box;
    background-color: #E5E5E5;
    width: 414px;
    height: auto;
    padding-bottom: 92px;
    /* overflow-x: hidden; */
    margin: auto auto;
    position: relative;
}

.confirmation {
    width: 414px;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    visibility: hidden;
    z-index: 1;

}

.payment-voucher1,
.payment-voucher2,
.payment-voucher3,
.soma {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.soma {
    margin-top: 20px;
}

.modal {
    width: 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 20px;
    padding: 10px;
}

#tudo-certo {
    display: inline-block;


    box-sizing: border-box;
    width: 329px;
    height: 52px;
    background-color: #FFFFFF;
    padding: 2px 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    box-shadow: none;
    border: 1px solid #CBCBCB;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #50D074;
}

.modal p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.modal div:last-of-type {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}


.modal div:first-of-type {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bottom {
    background-color: #FFFFFF;
    width: 414px;
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    /* left: 0; */
    bottom: 0;
}

#button {
    display: inline-block;


    box-sizing: border-box;
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    padding: 2px 70px;
    border-radius: 50px;
    box-shadow: none;
    border: 1px solid #CBCBCB;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

#check {
    width: 15px;
    height: 15px;
    visibility: hidden;


}




.preco {
    display: flex;
    justify-content: space-between;
}

html,
body {
    background-color: #E5E5E5;
    color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

* h3 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 5px;

}

* h5 {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

* p {
    font-size: 15px;
    line-height: 19px;
    color: #A6A6A6;

}

* h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #000000;

}

* h2 {
    margin-top: 27px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 26px;
    font-family: 'Righteous', cursive;
    color: #333333;
}

.description {
    height: 80px;
}

.header {
    width: 414px;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    background-color: #CF2B2B;
    font-size: 44px;
    padding-left: 21px;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    box-shadow: 0 2px 10px rgb(82, 82, 82);
    z-index: 1;
}




.food-card,
.drink-card,
.dessert-card {
    background-color: #FFFFFF;
    width: 172px;
    height: 226px;
    border-radius: 5px;
    padding: 10px 5px;
    /* margin-left: 10px; */
    box-sizing: border-box;
    border: thick solid transparent;
}

body img {
    width: 144px;
    height: 87px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.dishes-container,
.drink-container,
.dessert-container {
    margin-top: 10px;
    display: flex;
    margin-bottom: 27px;
    width: 414px;
    overflow-x: auto;
    gap: 10px;
}

#primeiro {
    margin-top: 129px;
}


.header h1:last-of-type {
    font-size: 18px;
    margin-top: 0;
}